// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

.pagebuilder-content-type {
    .pagebuilder-video-placeholder {
        align-items: center;
        background-color: @color-secondary__background;
        display: flex;
        justify-content: center;
    }

    .icon-pagebuilder-video:before {
        color: @mp-color__grey;
        font-size: 80px;
    }

    div[data-content-type='video'],
    .pagebuilder-video {
        font-size: 0;

        .pagebuilder-video-inner {
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
        }

        .pagebuilder-video-container {
            border-radius: inherit;
            overflow: hidden;
            padding-top: 56.25%;
            position: relative;
        }

        iframe,
        video,
        .pagebuilder-video-placeholder {
            height: 100%;
            left: 0;
            pointer-events: none;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}
