// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Horizontal tabs
//  _____________________________________________

//  Are used in dashboard

.tabs-horiz {
    &:extend(.abs-clearfix all);
    margin: 0;
    padding: 0;

    //  Default tab
    .ui-state-default {
        background: darken(@color-main__background, 2%);
        border: .1rem solid @mp-color__grey-darker;
        float: left;
        letter-spacing: .0183em; // For tab width fixing depending on normal-semibold font-weight
        list-style: none;
        margin-right: .4rem;
    }

    //  Hovered tab
    .ui-state-hover {
        background: lighten(@color-main__background, 4%);
    }

    //  Active tab
    .ui-state-active {
        background: lighten(@color-main__background, 4%);
        border-bottom: 0;
        font-weight: @font-weight__semibold;
        letter-spacing: normal;
        margin-bottom: -.1rem;

        .ui-tabs-anchor {
            border-bottom: .1rem solid @mp-color__grey-darker;
            border-top: 0;
            padding-top: 1.1rem;
        }
    }

    .ui-tabs-anchor {
        color: @mp-color__grey;
        display: block;
        padding: 1.5rem 1.8rem 1.3rem;
        text-decoration: none;

        &:hover { // ToDo UI: should be deleted with old styles
            color: @mp-color__grey;
            text-decoration: none;
        }
    }
}

//  Tabs content
.ui-tabs-panel {
    margin-top: -1px;
    padding: 2rem;
}
