// Override default colours variables
@color-lazy-sun: @mp-color__grey-clouds;
@color-phoenix: @mp-color__orange;

// Colors
@color-main__background: #202126;
@color-main__background-dark: #1E1E1E;
@color-secondary__background: #384047;

@mp-color__grey: #ECF0F1;
@mp-color__grey-darker: #3C3B3D;
@mp-color__grey-lighter: #434A54;
@mp-color__grey-medium: #AAB2BC;
@mp-color__grey-clouds: #ECF0F1;
@mp-color__grey-accent: #656D77;
@mp-color__red: #ED5565;
@mp-color__orange: #E86361;
@mp-color__blue: #2980B9;

@page__background-color: lighten(@color-main__background, 3%);

//Text
@text__color: @mp-color__grey;
@text__color__intense: darken(@mp-color__grey, 3%);
@text__color__muted: lighten(@mp-color__grey, 3%);

// Typography
@h1__font-color: @mp-color__grey;
@h2__font-color: @mp-color__grey;
@h3__font-color: @mp-color__grey;
@h4__font-color: @mp-color__grey;
@h5__font-color: @mp-color__grey;
@h6__font-color: @mp-color__grey;

// Border
@border__color: @mp-color__grey-darker;

// Icons
@icon-font__color: @mp-color__grey;

// Dropdowns
@dropdown-list__background: lighten(@color-main__background, 2%);
@dropdown-list__border: 1px solid @mp-color__grey-darker;
@dropdown-list-pointer__border: @mp-color__grey-darker;
@dropdown-list-item__hover: lighten(@mp-color__grey-lighter, 2%);

// Buttons
@button-primary__background-color: @mp-color__orange;
@button-primary__color: @color-white;
@button-primary__hover__background-color: darken(@mp-color__orange, 3%);
@button-primary__hover__border-color: @mp-color__orange;

@button__hover__border-color: @mp-color__grey-darker;

// Modals
@modal__background-color: lighten(@color-main__background, 3%);
@modal-popup-image-box__border-color: @border__color;


// Notification
@notifications__color: @mp-color__grey;
