// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Utilities
//  ---------------------------------------------

.link-pattern() {
    color: @link__color;
    text-decoration: none;

    &:hover {
        color: @link__hover__color;
        text-decoration: underline;
    }
}

.lib-font-face(
    @family-name: @font-family-name__base,
    @font-path: '@{baseDir}fonts/opensans/light/opensans-300',
    @font-weight: @font-weight__light,
    @font-style: normal
);

.lib-font-face(
    @family-name: @font-family-name__base,
    @font-path: '@{baseDir}fonts/opensans/regular/opensans-400',
    @font-weight: @font-weight__regular,
    @font-style: normal
);

.lib-font-face(
    @family-name: @font-family-name__base,
    @font-path: '@{baseDir}fonts/opensans/semibold/opensans-600',
    @font-weight: @font-weight__semibold,
    @font-style: normal
);

.lib-font-face(
    @family-name: @font-family-name__base,
    @font-path: '@{baseDir}fonts/opensans/bold/opensans-700',
    @font-weight: @font-weight__bold,
    @font-style: normal
);

//

html {
    font-size: 62.5%;
}

body {
    .lib-typography(
        @_font-size: @font-size__base,
        @_color: @text__color,
        @_font-family: @font-family__base,
        @_font-weight: @font-weight__regular,
        @_line-height: @line-height__base,
        @_font-style: @font-style__base
    );
}

//
//  Headings
//  ---------------------------------------------

h1 {
    margin: 0 0 2rem;

    .lib-typography(
        @_font-size: 2.8rem,
        @_color: @mp-color__grey,
        @_font-weight: @font-weight__regular,
        @_line-height: @line-height__s,
        @_font-family: false,
        @_font-style: false
    );
}

h2 {
    margin: 0 0 2rem;

    .lib-typography(
        @_font-size: 2rem,
        @_color: @mp-color__grey,
        @_font-weight: @font-weight__regular,
        @_line-height: @line-height__s,
        @_font-family: false,
        @_font-style: false
    );
}

h3 {
    margin: 0 0 2rem;

    .lib-typography(
        @_font-size: 1.7rem,
        @_color: @mp-color__grey,
        @_font-weight: @font-weight__semibold,
        @_line-height: @line-height__s,
        @_font-family: false,
        @_font-style: false
    );
}

h4,
h5,
h6 {
    font-weight: @font-weight__semibold;
    margin-top: 0;
}

//  Text
p {
    margin: 0 0 @paragraph__indent-bottom;
}

small {
    font-size: @font-size__s;
}

//  Links
a {
    .link-pattern();
}
