// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables -> Components
//  _____________________________________________

//
//  Popups
//  ---------------------------------------------

@popup__background-color: @color-white;
@popup__padding: 3rem;
@popup__padding__horizontal: @popup__padding;
@popup__padding__vertical: @popup__padding;

@popup-title__color: @color-gray20;
@popup-title__font-size: 2.4rem;
@popup-title__line-height: 2.4rem;

@popup-close-icon__color: @color-brownie-vanilla;
@popup-close-icon__hover__color: @color-gray68;
@popup-close-icon__font: @icons-admin__font-name;
@popup-close-icon__font-size: 2rem;
@popup-close-icon__content: @icon-close-mage__content;
@popup-close-icon__right: 3rem;
@popup-close-icon__top: 3rem;

@popup-overlay__background-color: rgba(0, 0, 0, .35);

@popup-fieldset__margin-left: 34%;

//
//  Actions Bar
//  ---------------------------------------------

@page-main-actions__background-color: lighten(@color-main__background, 2%);
@page-main-actions__border-color: @mp-color__grey-darker;
@page-main-actions__padding: @content__indent / 2;
