// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables -> Data Grid
//  _____________________________________________

@data-grid__font-size: 1.3rem;

@data-grid-tr__active__background-color: @mp-color__grey-lighter;
@data-grid-tr__hover__background-color: lighten(@mp-color__grey-lighter, 2%);

@data-grid-cell__border-width: .1rem;
@data-grid-cell__padding-horizontal: 1rem;
@data-grid-cell__padding-vertical: 1rem;

@data-grid-td__border-color: @mp-color__grey-darker;
@data-grid-td__border-inner-style: dashed;
@data-grid-td__border-outer-style: solid;
@data-grid-td__even__background-color: lighten(@color-main__background, 5%);
@data-grid-td__even__dragging__background-color: @color-light-gray0;
@data-grid-td__even__edit__background-color: darken(@data-grid-td__even__background-color, 10%);
@data-grid-td__odd__background-color: @page__background-color;
@data-grid-td__odd__dragging__background-color: @color-gray85;
@data-grid-td__odd__edit__background-color: darken(@data-grid-td__odd__background-color, 10%);
@data-grid-td__update__active__background-color: #bceeff;
@data-grid-td__update__upcoming__background-color: #ccf391;
@data-grid-td__odd__update__active__background-color: darken(@data-grid-td__update__active__background-color, 10%);
@data-grid-td__odd__update__upcoming__background-color: darken(@data-grid-td__update__upcoming__background-color, 10%);

@data-grid-th__border-color: darken(@mp-color__grey-darker, 3%);
@data-grid-th__border-style: solid;
@data-grid-th__background-color: darken(@color-main__background, 3%);
@data-grid-th__color: @mp-color__grey;
@data-grid-th__padding-horizontal: @data-grid-cell__padding-horizontal;
@data-grid-th__padding-vertical: @data-grid-cell__padding-vertical;
@data-grid-th__hover__background-color: lighten(@data-grid-th__background-color, 5%);

@data-grid-th-marker__width: .7rem;
@data-grid-th-marker__required__color: lighten(@color-light-phoenix, 10%);

@data-grid-checkbox-cell-inner__padding-top: 1.1rem;
@data-grid-checkbox-cell-inner__padding-horizontal: 1.8rem;

@data-grid-row-parent-marker__size: 1rem;

@data-grid-editable-row-actions__width: 25rem;
@data-grid-editable-cell__border-color: @color-gray68;

@data-grid-bulk-edit-panel__background-color: @color-lazy-sun-white;

@data-grid-td__dragging__background-color: @color-light-gray0;
@data-grid-td__dragging__opacity: 95%;
@data-grid-dragging-copy__border: 1px solid @data-grid-dragging-copy__border-color;
@data-grid-dragging-copy__border-color: @color-blue-pure;
@data-grid-dragging-copy__outline-color: @color-blue-pure;

@data-grid-horizontal-dragover-mark__color: @color-blue-dodger;
@data-grid-horizontal-dragover-mark__width: 3px;

@data-grid-spinner__size: 4rem;

@data-grid__no-records__font-size: @font-size__l;
@data-grid__no-records__padding: @indent__l;

//  Header

@data-grid-header-add-indent__bottom: .9rem;
@data-grid-header-add-indent__top: .5rem;

@data-grid-header-row__indent: @indent__base;

@data-grid-action__z-index: @data-grid-header__z-index - 10;
