// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables -> Forms
//  _____________________________________________

//
//  Fields
//  ---------------------------------------------

@field-divider__background-color: @color-lighter-grayish;
@field-label__color: @mp-color__grey;
@field-label__disabled__color: @color-gray65-almost;
@field-label__font-size: @font-size__base;
@field-label__line-height: @line-height__s;
@field-note__color: @mp-color__grey;
@field-note__font-size: @font-size__s;
@field-scope__color: @color-dark-gray;

@field-option__padding-top: .7rem;

@field-error-control__border-color: @color-tomato-brick;
@field-error-message__background-color: @mp-color__grey-clouds;
@field-error-message__border-color: @color-apricot;
@field-error-message__color: @color-very-dark-gray2;

@field-grid__columns: 12;
@field-control-grid__column: 6;
@field-label-grid__column: 3;

@field-size__xs: 8rem;
@field-size__s: 15rem;
@field-size__m: 34rem;
@field-size__l: 64rem;

//  Group

@field-group-label__padding: 20px;

//
//  Controls
//  ---------------------------------------------

@field-control__background-color: lighten(@mp-color__grey-lighter, 2%);
@field-control__border-color: @action__border-color;
@field-control__border-radius: 1px;
@field-control__border-width: 1px;
@field-control__box-shadow: none;
@field-control__color: @mp-color__grey;
@field-control__font-size: @action__font-size;
@field-control__line-height: @action__line-height;
@field-control__height: @action__height;
@field-control__padding-top: @action__padding-top;
@field-control__padding-horizontal: 1rem;
@field-control__padding-bottom: @action__padding-bottom;

@field-control__active__border-color: @field-control__focus__border-color;
@field-control__hover__border-color: @action__hover__border-color;
@field-control__focus__border-color: @mp-color__grey-darker;
@field-control__disabled__background-color: @color-lighter-gray;

@field-control-addon__color: @color-gray52;

@field-control-option-label__padding-left: 26px;

@field-label__indent: 1rem;
@field-label__disabled__color: @color-gray60;

@field-collapsible__border-color: @color-gray80;

//  Checkboxes

@control-checkbox-radio__size: 1.6rem;
@control-checkbox-radio__background-color: @color-white;
@control-checkbox-radio-mark__color: @color-brownie;

//
//  Validation
//  ---------------------------------------------

@validation__color: @color-tomato-brick;
