// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables -> Structure
//  _____________________________________________

//
//  Indents
//  ---------------------------------------------

@indent__base: 2rem; // 20px
@indent__xl: @indent__base * 2; // 40px
@indent__l: @indent__base * 1.5; // 30px
@indent__m: @indent__base * 1.25; // 25px
@indent__s: @indent__base / 2; // 10px
@indent__xs: @indent__base / 4; // 5px

//
//  Z axis
//  ---------------------------------------------

//  z-index 2
@action-multicheck__z-index: @z-index-2;

//  z-index 3
@data-grid-header__z-index: @z-index-3;

//  z-index 4
@page-actions__fixed__z-index: @z-index-4;
@data-grid-overlay__z-index: @z-index-4;
@data-grid-sticky-header__z-index: @page-actions__fixed__z-index - 2;
@data-grid-overlay__z-index: @data-grid-sticky-header__z-index + 1;
@actions-split__z-index: @data-grid-overlay__z-index + 1;

//  z-index 5
@header__z-index: @z-index-5;
@field-tooltip__z-index: @z-index-5;
@action-select__z-index: @z-index-5;
@admin__page-nav-tooltip__z-index: @field-tooltip__z-index;

//  z-index 7
@menu__z-index: @z-index-7;

//  z-index 10
@data-grid-dargging-copy__z-index: @z-index-10;

//  Base z-index for page wrapper to prevent inner page element overlap with pop-ups
@page-wrapper__z-index__base: 1;

//
//  Components
//  ---------------------------------------------

@window__min-width: 1024px;

@body__background-color: lighten(@color-main__background, 2%);

@page-wrapper__indent-left: @menu__width;
@page-wrapper__background-color: lighten(@color-main__background, 2%);

@page-content__padding-horizontal: @content__indent;
@page-content__padding-vertical: @content__indent;

@content__indent: @indent__l;

@menu__width: 8.8rem;

@notices-wrapper__border-color: @color-gray83;
