// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables -> Typography
//  _____________________________________________

//  Base Font
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;
@font-family__console: 'Courier New', Courier, monospace;

//  Sizes
@font-size__xl: 1.8rem;
@font-size__l: 1.6rem;
@font-size__base: 1.4rem;
@font-size__s: 1.2rem;
@font-size__tiny: 1.1rem;
@font-size__xs: 1rem;

@line-height__base: 1.36;
@line-height__s: 1.2;
@line-height__m: 1.4;

//  Paragraph
@paragraph__indent-bottom: .5em;

//  Links
@link__color: @mp-color__blue;
@link__hover__color: @mp-color__blue;

//  Disabled
@disabled__opacity: .5;
